@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
  --primary-color: orange;
  --secondary-color: tomato;
}

/* BASE STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,h2{
  color: rgb(54, 14, 14);
}
h2,h3,h4,h5,h6{
  color: orange;
  font-size: 14px;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  color: #111;
  /* overflow-x: hidden; */
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

p {
  margin: 20px 0 10px;
  font-size: 1.1rem;
}

section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 50px;
  margin-top: 20px;
  margin: 0;
  overflow-x: hidden;
}

section.home {
  flex-direction: row;
  margin-top: 0;
  
}

/* BUTTON */
.btn {
  cursor: pointer;
  display: inline-block;
  background: rgb(66, 13, 13);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  border: 0;
  border-radius: 4px;
}

.btn:hover {
  transform: scale(0.98);
}
.logo {
  position: fixed;
  top: 7px;
  left: 100px;
  /* margin-top: 0; */
  /* left: 100px; */
  font-size: 1.5rem;
  font-weight: 700;
  z-index: 30;
  background: transparent;
  display: flex;
  align-items: center;
}
.logo .log{
  width:50px;
  height: 50px;
}
.logo .log img{
  width: 100%;
  height: 100%;
}
/* TOGGLE */
.toggle {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 23px;
  right: 20px;
  width: 25px;
  height: 20px;
  box-shadow: rgba(39, 40, 41, 0.2) 0px 8px 24px;
  border-radius: 2px;
  background: rgb(53, 11, 11) url(../images/menu.png);
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 31;
  cursor: pointer;
  display: none;
  transition: 0.4 ease-in-out;
}


.toggle i{
 padding: 3px 5px;  
}

.toggle.active {
  background: rgb(129, 64, 3) url(../images/close.png);
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}
/* NAVIGATION */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 20;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 0;
}
span{
  font-size: 16px;
}
.navigation.active {
  left: 0;
}

.navigation ul {
  position: relative;
  display: flex;
  right: 30px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 10px;
}

.navigation ul li a {
  font-size: 0.8rem;
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
}
.animate-charcter{
  text-transform: capitalize;
   background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #b62424;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
  font-size: 19px;
  padding: 5px;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
}
.container {
  position: absolute;
  width: 360px;
  height: 640px;
  top:90px;
  right: 150px;
  background: rgba(0, 0, 0, 0);
  transform: scale(0.8);
  transition: 0.5s;
}
.container img {
  position: absolute;
  width: 300px;
  height: 450px;
  transition: 0.5s;
  border-radius: 10px;
}
.container:hover img:nth-child(3) {
  transform: translate(120px, -80px);
}
.container:hover img:nth-child(2) {
  transform: translate(40px, -40px);
  
  opacity: 0.8;
}
.container:hover img:nth-child(1) {
  transform: translate(-50px, 10px);
  
  opacity: 0.6;
}

.navigation ul li a:hover {
  color: var(--primary-color);
}

.social-bar {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  
} 
.social-bar ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  /* width: 100%; */
  margin-right: 70px;
  justify-content: center;
  align-items: center;
 
}

.social-bar ul li{
  margin: 20px;
  background-color: --var(--primary-color);
}

.fa-twitter{
  color: rgb(74, 74, 245);
}

.fa-github{
  color: #131212;
}
.social-bar a {
  display: inline-block;
  
}
.navigation .email-icon {
  position: absolute;
  bottom: 20px;
  transform: scale(0.5);
}

/* HOMEPAGE */
.home-content {
  position: relative;
  z-index: 10;
  max-width: 600px;
  left: 50px;
}
h1{
  margin-bottom: 30px;
}
.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 110%;
}

.commitments{
  display: flex;
}

.commitments .image{
  width: 700px;
  height: 500px;
}

.commitments .image img{
  width:400px;
  height: 400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
/* SERVICES PAGE */
.services {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}


.services .service {
  padding: 30px;
}

.services .service:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.services .service h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  color: var(--secondary-color);
}

.services .service .icon img {
  max-width: 100px;
}

.engagement{
  display: flex;
  justify-content: center;
  align-items: center;
}

.engagement h1{
  margin-top: 20px;
}

.engagement p{
  max-width: 400px;
}
.engagement .image{
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  
}

.engagement .image img{
  width: 300px;
  height: 400px;
  border-radius: 5px;
  transform: rotate3d(2, -1, -1, -0.2turn);
}
/* WORK PAGE */
.blog{
  margin-bottom: 0;
  padding-bottom: 0;
}
.portfolio {
  background-image: url("/images/new\ skill.jpg");
  width: 100%; 
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.portfolio .item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  width: 250px;
  height: 300px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin:50px 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.portfolio .social-media i{
  margin: 0 10px;
}

.portfolio .social-media .fa-twitter{
  color: rgb(102, 102, 236);
}
.portfolio .social-media .fa-linkedin{
  color: rgb(12, 12, 185);
}
.portfolio .item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}
#blog .title h1{
  text-align: center;
}

#blog .title p{
  max-width: 1000px;
  text-align: center;
  margin-bottom: 30px;
}
.portfolio .item .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(148, 32, 32, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  border-radius: 10px;
}



/* CONTACT */
#contact h1{
  margin-top: 20px;
  text-align: center;
}
.contact {
  position: relative;
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


footer{
  display: block;
  justify-content: center;
  color: #110808;
  text-align: center;
  padding: 30px;
}


.contact-info{
  display: flex;
  margin:  30px;
  justify-content: center;
  align-items: center;
}

.contact-info .info-box {
  align-items: center;
  display: flex;
}

.contact-info .info-box{

  width: 200px;
  display: flex;
}
.contact-info .info-box i{

  margin-right: 5px;
}
.contact-info .info-box .fa-phone{
  color: darkred;
  font-size: 16px;
}
.contact-info .info-box span{
  font-size: 16px;
  text-decoration: none;
  color: darkred;
}

.contact-info .info-box .contact-icon {
  width: 15px;
}
.contact-info .info-box a{
  width: 150px;
}
.social-bar ul li a{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #fff;
  padding: 3px;
}
.social-bar ul li a:hover{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  scale:1.2;
  transition: 0.5s ease-in-out;
 
}
.links{
  display: flex;
  text-align: center;
  /* width: 100px; */
  background: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* height: 20px; */
  box-shadow: rgba(6, 241, 18, 0.2) 0px 8px 24px;
  /* margin: 0 30px; */
}

.links a{
  text-decoration: none;
  padding: 10px;
  font-size: 13px;
  
}
.links:hover{
  transition: 0.3s ease-in-out;
  scale: 1.1;
  /* background-color: rgb(250, 246, 13); */
  color: #180909;
  padding: 3px;
}

.partners{
  margin-right:10px;
}

.partners p{
  margin-bottom: 30px;
  font-weight: 700;
  color: #440710;
  padding: 10px;
  background: #fce307;
  margin-top: 0;
  font-size: 20px;
}
.partners .sponsors{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.partners .sponsors img{
  width: 150px;
  height: 150px;
  margin-left: 20px;
  background: transparent;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
}

/* Counters styling */
.counters{
	background: rgb(94, 36, 36);
	color: #550606;
	padding: 30px 10px;
  display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-gap: 50px; */
	text-align: center;
  height: 400px;
  width: 100vw;
  
  
}

.impact h3{
  font-size: 18px;
  text-align: center;
  padding: 20px;
  color: #381010;
  margin-top: 0;
}

.time{
  background-color: #f9f9f9;
  /* width: 40px; */
  scale: 0.6;
  box-sizing: border-box;
  border-radius: 10px;
  justify-content: center;
  align-items: center;

}

.time i{
  padding: 30px 0;
}

.time .fa{
  font-size: 30px;
  color: #491119;

}
.counters h3{
	color: #491119;
  font-size: 30px;
}

.counters i {
	color: lightskyblue;
	margin-bottom: 5px;
}

.counters .counter {
	font-size: 38px;
	margin: 10px 0;
  color: #381010;
}

@media (max-width: 1060px) {
	.counters {
		grid-template-columns: repeat(2, 1fr);
    height: auto; 
    gap: 0;
	}
  
  .counters .counter{
    font-size: 20px;
  }

  .time{
    scale: 0.8;
  }
	.counters > .timer:nth-of-type(1),
	.counters > .timer:nth-of-type(2) {
		padding-bottom: 10px;
	}
}


@media (max-width: 1068px) {

  section{
    width: 100%;
    overflow-x: hidden;
  }
  h1{
    font-size: 16px;
    font-weight: 700;
    
  }
  
  .commitments{
    flex-direction: column;
    width: 100%;
  }

  .commitments .image{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 0;
  }
  
  .commitments .image img{
    width:100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .engagement h1{
    margin:0;
  }
  .engagement p{
    margin: 0;
  }
  .engagement{
    flex-direction: column;
    margin-top: 0;
  }
  .engagement .image{
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
  }
  .engagement img{
    scale: 0.8;
  }
  .home-img {
    display: none;
  }
  section{
    margin-top: 0;
  }
  .logo {
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 10px 0;
    font-size: 1.3rem;
    position: fixed;
    background-color: #fff;
  }

  .logo .log{
    margin-left: 30px;
    width: 50px;
    height: 50px;
  }

  .logo .log img{
    width: 100%;
    height: 100%;
  }
  .toggle{
    display: block;
    top: 25px;
  }
  .home-content {
    
    left: 0;
  }
  .home-content h1{
    font-size: 17px;
  }
  span{
    font-size: 14px;
  }
  p{
    font-size: 13px;
    margin-top: 5px;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation ul{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .navigation ul li a{
    font-size: 0.9rem;
  }
  .container{
    display: none;
  }
  section {
    padding: 10px 30px;
    margin-top: 10px;
  }
  .portfolio{
    /* flex-direction: row; */
  }
  .portfolio .item{
    width: 180px;
    height: 230px;
    margin: 10px;
  }

  .portfolio .item img{
    width: 80px;
    height: 80px;
  }
  footer .contact-info {
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .partners{
    overflow-x: hidden;
  }
  .partners p{
    color: #440710;
    padding: 10px;
    background: #fce307;
    margin-top: 0;
    font-size: 20px;
  }

  .partners .sponsors{
    display: flex;
    margin: 0 auto;
    
  }
  .partners .sponsors img{
    width: 70px;
    height: 70px;
    margin: 10px;
    width: 150px;
    height: 150px;
    background: #fff;
    padding: 10px;
    border-radius: 2px;
  }
  
  footer .info-box{
    margin-top: 30px;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  footer .social-bar{
    display: block;
  }
   footer .social-bar ul{
    margin-right: 0;
   }
}

@media (max-width: 768px) {
  
  .animate-charcter{
    /* display: none; */
    font-size: 13px;
  }
  .services .service {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }

  .logo .log{
    width: 50px;
    height: 40px;
    margin-left: 10px;
  }
  .logo .log img{
    width: 100%;
    height: 100%;
  }
  .toggle{
    top: 23px;
    width: 15px;
    height: 15px;
    background-size: 13px;
  }
  .navigation{
    width: 100vw;
  }
  .home{
    min-height: 75vh;
    
  }
  .home-content{
    margin-top: 55px;
  }
  .commitments .image{
    width: 170px;
    height: 170px;
    margin-top: 20px;
  }
  
  .portfolio .item{
    margin:10px;
  }
  
  .contact{
    width: 100vw;
  }
 .info-box img{
    margin: 30px 0;
  }
  .info-box a{
    font-size: 12px;
  }
  .btn{
    text-align: center;
  }
}
@media (max-width: 550px){
  .counters{
    display: block;
    font-size: 18px;
  }
  .portfolio .item{
    /* width: 150px;
    height: 200px; */
    margin: 10px;
  }
  .portfolio{
    flex-wrap: wrap;
    padding: 30px;
  }
  .portfolio .item img{
    width: 60px;
    height: 60px;
  }
  .partners{
    width: 100%;
    margin: 0;
    padding: 0;
    background: url(/images/macbook-code.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: .9;
  }
  .partners p{
    color: #440710;
    padding: 10px;
    background: #fce307;
    margin-top: 0;
  }
  .partners .sponsors{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .partners .sponsors img{
    width: 170px;
  }

}

